body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    flex-direction: column; 
}


*{
    box-sizing: border-box;
}
nav {
    position: absolute; 
    top: 0;
    left:0; 
    margin-left:10px;
    margin-top:20px;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 18px;
    height: 5px;
    width: 5px;
    display: inline;
}

.greetings {
    color: white;
    font-size: 15rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    background: linear-gradient(to right, #FFD700, #FF4500); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /*border: 2px solid #FF4500;*/
    margin-bottom: auto;
    margin-top: auto;

}

.container .description {
    
    color: white;
    font-size: 20px;    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.big_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: auto ;
    margin-top: 50px;
    
    
}

.container {
    margin: 60px;    
    display: inline-block;
    border-radius: 30px;
    margin-left: 20px;
    border-radius: 30px;
    /*border: 2px solid #FF4500;*/

}


.description {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 50rem;
    margin: 2px;
    padding: 5px;
    opacity: 0;
    transition: opacity 1s ease;
    
    
    /*border: 2px solid #FF4500;*/
}

img {
    width: 210px; 
    height: 210px; 
    border-radius: 50%; 
    
    /*border: 2px solid #FF4500; */
}


.box{
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 20px;
}

.images{
    padding-left: 40px;
    opacity: 0;
         
}

.anim1 {
    animation: fadeIn 2s ease forwards 0.5s;
}


.anim2 {
    animation: fadeIn 2.5s ease forwards 1s; 
}


.anim3 {
    animation: fadeIn 1.7s ease forwards 2s; 
}

.anim4{
    animation: fadeIn 1.9s ease forwards 3s;
}

.anim5{
    animation: fadeIn 1.3s ease forwards 1.1s;
}

.anim6{
    animation: fadeIn 1.1s ease forwards 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.forms{
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
   /* border: 2px solid #FF4500;*/
    height:auto;
    width: auto;
    opacity: 0;

    
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
   /* border: 2px solid #FF4500;*/
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px; 
}
.contact{
    /*border: 2px solid #FF4500;*/
    position: absolute;
    left:0;
    margin-left:50px;
    top:0;
    margin-top: 120px;
}

.form-description input[type="text"],
.form-description textarea {
    width: 23rem;
    height: 15rem;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*border: 2px solid #FF4500;*/
    box-sizing: border-box;
}

.form-button{
    width:100%;
    margin-top:20px;
    height:40px;
    border-radius: 20px;
    background-color:#FFD700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.position{
    display:flex;
    flex-direction: row;
    /*border: 2px solid #FF4500;*/
    width:auto;
    height:auto;
}

.img-email{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left:30px ;
}

.details{
    margin-left:120px;
    margin-top:10px;
}
    
.text{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    opacity: 0;
}

.contact-images{
    color: aliceblue;
    display: flex;
    flex-direction: row;    
    align-items: center;  
    /*border: 2px solid #FF4500;*/
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-left: 10px;
}

.adress-text{
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.linkedin{
    background-color: white;   
}

.link-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
 
}

.info-text{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.details-info{
    display: flex;
    flex-direction: column;
    /*border: 2px solid #FF4500;*/
}

.info-text{
   /* border: 2px solid #FF4500;*/
    text-align: center;
    
    font-size: 25px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    opacity: 0;

}

.copyright{
    color: wheat;
    padding-left:50px;
    padding-top: -50px;
}

.info-text{
    display: flex;
    flex-direction: column;
}

.first-container{
   /* border: 2px solid #FF4500;*/
    height:auto;
    width:auto;
    display: flex;
    flex-direction: column;
    margin-top: 130px;

}

.second-container{
    /*border: 2px solid #FF4500;*/
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    height:auto;
    width:auto;
    
}

.project-container{
    /*border: 2px solid #FF4500;*/
    height: 220px;
    width: 630px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    padding-left: 5px;
    opacity: 0;

}

.project-font{
    color: aliceblue;
    margin-top: -20px;
    /*border: 2px solid #FF4500;*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
    
}

.project-title{
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-position{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
}

.snake{
    font-size: 16px;
}

.todoapp{
    font-size: 16px;
}

.portfolio-font{
    font-size: 15.5px;
}

.resume{
    font-size: 15.5px;
}

.download{
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: -8px;
}

.download-button{
    width:25%;
    margin-top:-5px;
    height:40px;
    border-radius: 30px;
    background-color:#FFD700;   
    display: block;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
   /* border: 2px solid #FF4500;*/
    
}

.topic-link{
    text-decoration: none;
    color: aliceblue;
}

button:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.links:hover {
    color: black; 
    background-color: white;
    border-radius: 5px;
}

.success{
    position:absolute;
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px;
    border: 1px solid #c3e6cb; 
    border-radius: 5px; 
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.button-close{
     height: 30px;
     width:80px;
     border-radius: 20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#translation{
    color: white;
    /*border: 2px solid #FF4500;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.welcome-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.two-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.two-buttons button {
    margin: 2px;
}