{% extends 'base.html' %}

{% block title %}Greetings!!{% endblock %}

{% block content %}

<div>
<div class="welcome-page">
    <h1 id="greeting" class="greetings"></h1>
    <h2 id="translation"></h2>
</div>
</div>
<script>
    const greetings = ['Hej!!','Bonjour!','ٱلسَّلَامُ عَلَيْكُمْ', 'স্বাগতম','வணக்கம்','Привет','こんにちは','സ്വാഗതം','आदाब','你好','Wilkommen!','Hello!!'];
    const translations =['~(As-salāmu ʿalaykum)~','~(Shagotom)~','~(Vaṇakkam)~','~(Privyet)~','~(Konnichiwa)~','~(Swagatham)~','~(Aadaab)~','~(Nǐ hǎo)~',''];

    function displayGreetings() {
        for (let i = 0; i < greetings.length; i++) {
            setTimeout(() => {
                document.getElementById("greeting").textContent = greetings[i];
                if(i> 1 && i< 11){    
                       document.getElementById("translation").textContent = translations[i-2];    
                }
                if (i === greetings.length - 1) {
                        setTimeout(() => {
                            window.location.href = "{% url 'about_me' %}";
                        }, 1790);
                    }
            },i === 3 ? i * 1850 : i * 1780);
        }
    }


    
    displayGreetings();
</script>
{% endblock %}
