{% extends 'base.html' %}

{% load static %}

{% block title %}Projects/Resume{% endblock %}


{% load crispy_forms_tags %}


{% block content %}

<div class="first-container">
    <div class="second-container">
        <div class="project-container anim6">
            <a href="https://github.com/shams72/Reiseburo" class="topic-link"><h1 class="project-title">TravelAgency</h1></a>
            <p class="project-font">                
                As part of a university project, I developed a comprehensive application utilizing QtCreator. This application seamlessly 
                manages customer data, enabling seamless reading, insertion, and deletion of information stored in a JSON file.
                Booking an object within the system involves capturing essential customer details, and dynamically generating unique 
                identification for each booking. Additionally, the application integrates a map feature, offering customers a visual 
                representation of their journey from the starting point to their final destination.
            </p>

        </div>
        <div class="project-container anim5">
           
                <h1 class="project-title"> 
                    <a href="https://github.com/shams72/space-game" class="topic-link">Space Game</a>/<a href="https://github.com/shams72/breakout-game" class="topic-link">Breakout Game</a>
                </h1>
            
            <p class="project-font text-position">                
                Just a side project.I was curious to understand how games are devloped.With the help of YouTube tutorials I developes a space and breakout game in C++ using QT Creator. 
                Implemented scoring systems and health checks for engaging gameplay experiences.
            </p>

        </div>
    </div>
    <div class="second-container">
        <div class="project-container anim5">
            <a href="https://github.com/shams72/snake-game" class="topic-link"><h1 class="project-title">Snake Game</h1></a>
            <p class="project-font text-position snake">                
                In order to understand Java Programming Language,I felt the best way was to do through a prject.
                Using YouTube tutorials in my free time, I created a classic Snake game. It has scoring and health checks, 
                helping me to understand the basics through hands-on practice.
            </p>


        </div>
        <div class="project-container anim6">
            <a href="https://github.com/shams72/FunTaskTic" class="topic-link"><h1 class="project-title">FunTaskTic (To-Do App)</h1></a>
            <p class="project-font todoapp">                
                As part of our Human-Computer Interaction university module, our team of four collaborated on developing a user-centric app. 
                We chose to create a To-Do app using Android Studio and Java, enriching it with user-driven features to enhance functionality
                and overall user experience.
            </p>


        </div>
    </div>
    <div class="second-container">
        <div class="project-container anim5">
            <h1 class="project-title push-up">Portfolio-Website</h1>
            <p class="project-font portfolio-font">                
                Welcome to my portfolio website, a project I've dedicated my free time to, built with the Django Framework, HTML, and CSS,
                which you are currently experiencing.I happened to jump into the world of web development out of curiosity, I've created 
                this platform to showcase my work. Your feedback is highly appreciated; feel free to reach out through the contact form or
                email provided in the contacts section.
            </p>
        </div>
        <div class="project-container anim6">
            <h1 class="project-title">Resume</h1>
            <p class="project-font resume">
                You can explore all my projects by clicking on the header provided at the beginning of each card.It will direct you to my 
                GitHub account.                
                <p class="download">Click the Download/Herunterladen Button to download my Resume.</p>                
            </p>
            <div class="two-buttons">
               <button class="download-button">Download</button>
               <button class="download-button">Herunterladen</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

